<div class="row">
  <div class="col-xs-12">
    <center>
      <h1>Your Business</h1>
    </center>
  </div>
</div>
<br>
<%= render 'businesses/info' %>
<div class="row">
  <div class="col-xs-12">
    <center>
      <%= link_to 'Edit Your Business', edit_business_path(@business), class: 'btn btn-primary'%>
    </center>
  </div>
</div>
