body {
  padding-top: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: #2d91c7;
  &:hover {
    color: #266fa8;
  }
}

#main-container {
  margin-top: 66px;
}

#openplay-logo {
  img {
    width: 150px;
  }
}

h1, h2, h3 {
  color: #266fa8;
}
.reservation-row{
  width:120%;
  margin-left: -10%;
}

@media (max-width: 768px) {
  .reservation-row{
    width:100%;
    margin-left: -15px;
  }
}
