
#hero-container {
  position: relative;
  height: 416px;
  #hero-background-image {
    position: absolute;
    background-image: image-url('search_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 416px;
    width: 100%;
    overflow: hidden;
  }
  #hero-content {
    position: relative;
    #searchbar-container {
      position: absolute;
      bottom: -415px;
      width: 100%;
      padding: 20px 0 10px 0;
      background-color: rgba(0,0,0,0.4);
      color: #FFF;
      font-size: 20px;

      .col-sm-3 {
        margin-bottom: 10px;
      }
    }
  }
}

.btn-default {
  background-color: white;
  color: #266fa8;
}

#leading-landing-page {
  padding-top: 80px;
  padding-bottom: 30px;
}

#discovery-tiles {
  .discovery-activity {
  }
  #laser-tag-bg {
    background-image: image-url('laser_tag.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 100%;
    overflow: hidden;
  }
  #bowling-tag-bg {
    background-image: image-url('bowling.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 100%;
    overflow: hidden;
  }
}
