<div class="container">
  <% if notice %>
    <div class="alert alert-success alert-dismissable">
      <button class='close' type='button' "data-dismiss"='alert' 'aria-hidden'=true>x</button>
      <%= notice %>
    </div>
  <% elsif alert %>
    <div class="alert alert-danger alert-dismissable">
      <button class='close' type='button' "data-dismiss"='alert' 'aria-hidden'=true>x</button>
      <%= alert %>
    </div>
  <% end %>
</div>
