<% if @activities.empty? %>
  <h4> No results found. </h4>
<% else %>
  <div class="activity-list">
    <% @activities.each do |activity| %>
      <%= render 'activity_booking_pane', activity: activity,
        show_business_tile: true %>
    <% end %>
  </div>
<% end %>
