<div class='row'>
  <%= render 'edit_activity_sidebar_menu', activity: @schedule.activity  %>

  <div class='col-xs-9'>
    <div class="row">
      <div class="col-xs-12">
        <div>
          <center>
            <h1><%= @schedule.activity_name %> Closing Time</h1>
          </center>
        </div>
        <div class="spacer-40"></div>
      </div>
    </div>
    <%= render 'closed_schedules/list' %>
    <div class="spacer-40"></div>
    <%= render 'closed_schedules/form' %>
    <div class="spacer-40"></div>
  </div>
</div>
