- if user_signed_in? && !manages_business?
  .jumbotron
    .container.text-xs-center
      %h3 Are you a business owner?
      .lead
        %p Join the more than 10,000 businesses and manage reservations with OpenPlay.
        = link_to 'Join us', new_business_path, class: 'btn btn-primary'
