<div class='card order-prices-container'>
  <div class='card-block text-xs-center'>
    <div class='spinner'>
      <div class='spinner-icon'>
      </div>
    </div>
    <div class='prices-detail'>
      <h5>Summary</h5>
      <%- if @order.made_by_business_owner? %>
        <p>Free Reservation (By Manager)</p>
      <% else %>
        <p>Subtotal:
          <span class='subtotal-price'>
            <%= present_booking_price(@order.sub_total_price) %>
          </span>
        </p>
        <p>Open Play Fee: <%= present_booking_price(@order.order_fee) %></p>
      <% end %>
      <p>
        <span class='font-weight-bold'>Total</span>:
        <span class='total-price'><%= present_booking_price(@order.total_price) %></span>
      </p>
    </div>
  </div>
</div>
