<% activity = @order.activity %>
<div class='row'>
  <div class='col-xs-12'>
    <h1 class='text-xs-center'>Reservation Info</h1>
  </div>
</div>
<div class='spacer-30'></div>
<div class='row reservation-row' id='order-date'>
  <div class="col-xs-12 col-md-3">
    <%= render 'businesses/info_tile', business: activity.business %>
  </div>
  <div class="col-xs-12 col-md-9">
    <div class="card">
      <div class="card-header">
        <div class="col-xs-4">
          <b>Date: </b>
          <%= present_date_in_weekday_month_day_format(@order.booking_date) %>
        </div>
        <div class="col-xs-4">
          <b>Place: </b>
          <%= @order.booking_place %>
        </div>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
