.spacer-10 { height: 10px; clear: both;  }
.spacer-20 { height: 20px; clear: both;  }
.spacer-30 { height: 30px; clear: both;  }
.spacer-40 { height: 40px; clear: both;  }
.spacer-50 { height: 50px; clear: both;  }
.spacer-60 { height: 60px; clear: both;  }
.spacer-70 { height: 70px; clear: both;  }
.spacer-80 { height: 80px; clear: both;  }
.spacer-90 { height: 90px; clear: both;  }
.spacer-100 { height: 100px; clear: both; }

.navbar-nav {
  li.nav-item {
    margin-left: 20px;
  }
}

.alert {
  margin-top: 21px;
}
