.activity-time {
  padding-top: 1.5%;
}

.activity-list {
  .activity-result {
    padding: 1.275rem 0;
    border-bottom: 1px solid rgba(0,0,0,.08);
    .activity-info {
      padding-top: 4px;
      .activity-name {
        color: #333;
        font-weight: 600;
        &:hover {
          text-decoration: none;
        }
      }

      .reservable {
        margin-top: 0.4em;

        .card-text {
          margin-top: 12px;
        }
        .row-times {
          margin-top: 5px;
          padding-left: 25px;
          padding-right: 25px;

          .timeslot {
            font-size: .875rem;
            padding: 0.5em;
            min-width: 65px;
            margin-bottom: 5px;

            &.btn-success {
              background-color: #2fa6db;
              border-color: #293870;
              border-style: dashed;
            }

            &:disabled {
              color: #bfbfbf;
              background-color: #969696;
              border-color: #dcd2d2;
            }
          }

          .checkbox-hidden {
            display: none;
          }
        }
      }
    }
    .book-section {
      margin-left: 20px;
      .book-btn {
        margin-top: 75px;
      }
    }
    .remaining-slots {
      margin-top: 10px;
      .view-more {
        a {
          font-size: 15px;
          text-decoration: underline;
        }
      }
    }
  }

  &.activity-list__admin {
    .activity-result {
      border-bottom: none;
    }
    .reservable-name {
      position: absolute;
      left: 25px;
      top: 30px;
    }

    .reservable {
      .card {
        padding-left: 260px;
      }
      .card-text {
        display: none;
      }
    }
    .book-btn {
      position: fixed;
      right: 5%;
      top: 310px;
    }

    .number-of-players-input {
      position: fixed;
      right: 5%;
      top: 237px;
      input {
        width: 85px;
      }
    }

    .autocheck-input {
      position: fixed;
      right: 5%;
      top: 281px;
    }

    .form-check-label {
      padding-left: 0px;
    }
  }
}

#edit_activity_sidebar {
  padding-top: 80px;
}

.activities.index {
  .btn {
    width: 150px;
    margin-bottom: 10px;
  }
}
