.confirmation-channel {
  .form-check-inline {
    padding-left: 0;
  }
}
.order-prices-container {
  p {
    margin-bottom: 0;
  }
  &.loading {
    .spinner {
      display: block;
    }
    .prices-detail {
      opacity: 0.5;
    }
  }
}

.social-medias {
  display: inline;
  .fb-share-button{
    vertical-align: top;
    zoom: 1;
  }
}
