.pagination {
  display: block;
  position: relative;
  .page-of {
    text-align: center;
    color: #808080;
    font-size: 0.96em;
  }
  .prev {
    text-decoration: underline;
    position: absolute;
  }
  .next {
    text-decoration: underline;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.reservables {
  position: relative;
  &.loading {
    .timeslots {
      opacity: 0.5
    }
    .spinner {
      display: block;
    }
  }
}

.spinner {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  .spinner-icon {
    background-image: image-url('spin.svg');
    height: 60px;
    width: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    position: absolute;
  }
}

.btn-3d {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-3d:hover {
  color: #ffffff;
  background-color: #bd362f;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
}
